<ng-container>
  <section class="banner project" style="background-image: url('http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg')">
    <div class="overlay">
      <section>
        <h2>Project Title</h2>
        <p>Short project description</p>
        <p><span class="subtitle">Technology:</span> blah, blah, blah</p>
    </section>
    </div>
  </section>
  <section>
    <section class="contributions">
      <h3>Contributions</h3>
      <ul>
        <li>Product Owner</li>
        <li>UX/UI</li>
        <li>Visual Design</li>
        <li>Project Management</li>
        <li>Node Api</li>
        <li>Angular Front End</li>
        <li>Angular Front End</li>

      </ul>
    </section>
    <section class="overview">
    <h3>Skills</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus sodales nibh, ornare feugiat augue porta non. Fusce auctor tortor et sem blandit dapibus. Etiam magna magna, feugiat eu finibus a, cursus nec lacus. Cras bibendum volutpat suscipit. Donec eleifend, tortor ut porttitor dictum, arcu neque cursus enim, quis lobortis odio felis in mauris. Donec feugiat et neque nec maximus. Pellentesque blandit placerat tortor. Donec interdum purus ut eleifend dignissim. Praesent gravida aliquet elit, eget consectetur ex commodo non.</p>
    <p>Cras ornare placerat nisi at gravida. Curabitur condimentum erat purus, vel tristique ligula eleifend eu. Praesent bibendum consequat metus. Sed dictum tincidunt dolor, id fermentum libero ultrices ut. Nullam commodo eu nunc sit amet molestie. Cras lobortis scelerisque pellentesque. Aliquam non odio vitae tellus semper volutpat nec non arcu. In hac habitasse platea dictumst. Donec scelerisque pellentesque massa, in elementum tellus. Nulla malesuada feugiat ex. Ut pulvinar sapien a tincidunt porta. Phasellus ultrices leo eu porta eleifend. Proin bibendum tempus justo et luctus. Morbi et dictum metus, tempor pellentesque eros.</p>
    <p>Cras ornare placerat nisi at gravida. Curabitur condimentum erat purus, vel tristique ligula eleifend eu. Praesent bibendum consequat metus. Sed dictum tincidunt dolor, id fermentum libero ultrices ut. Nullam commodo eu nunc sit amet molestie. Cras lobortis scelerisque pellentesque. Aliquam non odio vitae tellus semper volutpat nec non arcu. In hac habitasse platea dictumst. Donec scelerisque pellentesque massa, in elementum tellus. Nulla malesuada feugiat ex. Ut pulvinar sapien a tincidunt porta. Phasellus ultrices leo eu porta eleifend. Proin bibendum tempus justo et luctus. Morbi et dictum metus, tempor pellentesque eros.</p>
  </section>

  </section>
  <section class="design">
  <h3>Design</h3>
  <article class="gallery">
    <img src="http://cdn1-www.dogtime.com/assets/uploads/2011/03/puppy-development-300x200.jpg">
    <img src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/The-stages-of-puppy-growth.jpg?itok=9ptPJwY8">
    <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-30.jpg">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgGeIM_94xeQrg6xdJns9OOquwrKzjfRGbPmiMI8_D6OxAWLcRZw">
  </article>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus sodales nibh, ornare feugiat augue porta non. Fusce auctor tortor et sem blandit dapibus. Etiam magna magna, feugiat eu finibus a, cursus nec lacus. Cras bibendum volutpat suscipit. Donec eleifend, tortor ut porttitor dictum, arcu neque cursus enim, quis lobortis odio felis in mauris. Donec feugiat et neque nec maximus. Pellentesque blandit placerat tortor. Donec interdum purus ut eleifend dignissim. Praesent gravida aliquet elit, eget consectetur ex commodo non.</p>
  <p>Cras ornare placerat nisi at gravida. Curabitur condimentum erat purus, vel tristique ligula eleifend eu. Praesent bibendum consequat metus. Sed dictum tincidunt dolor, id fermentum libero ultrices ut. Nullam commodo eu nunc sit amet molestie. Cras lobortis scelerisque pellentesque. Aliquam non odio vitae tellus semper volutpat nec non arcu. In hac habitasse platea dictumst. Donec scelerisque pellentesque massa, in elementum tellus. Nulla malesuada feugiat ex. Ut pulvinar sapien a tincidunt porta. Phasellus ultrices leo eu porta eleifend. Proin bibendum tempus justo et luctus. Morbi et dictum metus, tempor pellentesque eros.</p>
  <p>Cras ornare placerat nisi at gravida. Curabitur condimentum erat purus, vel tristique ligula eleifend eu. Praesent bibendum consequat metus. Sed dictum tincidunt dolor, id fermentum libero ultrices ut. Nullam commodo eu nunc sit amet molestie. Cras lobortis scelerisque pellentesque. Aliquam non odio vitae tellus semper volutpat nec non arcu. In hac habitasse platea dictumst. Donec scelerisque pellentesque massa, in elementum tellus. Nulla malesuada feugiat ex. Ut pulvinar sapien a tincidunt porta. Phasellus ultrices leo eu porta eleifend. Proin bibendum tempus justo et luctus. Morbi et dictum metus, tempor pellentesque eros.</p>
</section>

<ng-container>
