<ng-container data-ng-init="projectCtrl.getProject()">
  <section class="project banner" ng-if="dataHasLoaded" bg-img="{{projectCtrl.projectData.imagePath}}preview.png">
    <section class="overlay">
      <article>
          <h2>{{projectCtrl.projectData.name}}</h2>
          <p>{{projectCtrl.projectData.shortDesc}}</p>
          <h3><span class="subtitle">Project Includes</span></h3>
          <ul class="keywords">
            <li data-ng-repeat="keyword in projectCtrl.projectData.keywords">{{keyword}}</li>
          </ul>
          <p ng-if="projectCtrl.projectData.githubUrl !== undefined"><a href="{{projectCtrl.projectData.githubUrl}}"><img ng-src="images/logo-icon.png"> View Project on Github</a></p>
          <p ng-if="projectCtrl.projectData.liveProject !== undefined"><a href="{{projectCtrl.projectData.liveProject}}"><img ng-src="images/logo-icon.png"> Live Website</a></p>
        </article>
    </section>
  </section>
  <section class="details">
    <section class="contributions">
      <h3>Contributions</h3>
      <ul data-ng-repeat="contribution in projectCtrl.projectData.contribution">
        <li>{{contribution}}</li>
      </ul>
    </section>
    <section class="overview">
      <h3>About</h3>
      <ng-container data-ng-bind-html="projectCtrl.projectData.overViewHTML"></ng-container>
  </section>

  </section>
  <ng-container ng-if="projectCtrl.projectData.design == true">
  <section class="design">
  <h3>Design</h3>
  <article class="gallery">
    <a data-ng-repeat="design in projectCtrl.projectData.designImages" href="{{projectCtrl.projectData.imagePath}}{{design}}" data-lightbox="roadtrip">
    <img ng-src="{{projectCtrl.projectData.imagePath}}{{design}}"></a>
  </article>
  <article class="specs">
    <h4>Palette</h4>
    <p class="palette"><span data-ng-repeat="color in projectCtrl.projectData.colorScheme" class="color-block" style="background-color: #{{color}}"></span></p>
    <h4>Design Choices</h4>
    <section data-ng-bind-html="projectCtrl.projectData.designHTML"></section>
  </article>
</section>
</ng-container>

</ng-container>
