<ng-container>
  <section class="banner">
    <ul>
      <li>UX/UI</li>
      <li>Visual Design</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>jQuery</li>
      <li>javaScript</li>
      <li>Node</li>
      <li>React</li>
      <li>Angular</li>
    </ul>
  </section>
  <section data-content="about">
    <h2>About</h2>
    <p>I'm a newly minted full stack javaScript Developer with a long history of product design and front end development. I got started in 2004 with a college job at the university of Montana, where students would design and develop websites for faculty, programs and other students. We would use fireworks to design a website and build out the website with HTML, CSS and flash. Since then I've made a career as a graphich designer and web developer sticking primarily to the front end. I've always found my favorite part of my job was the development side, so I recently took a series of courses at Code Fellows in order to improve my development skills and make a career shift into a full time development role.</p>
  </section>
  <p data-ng-if="featuredCtrl.go()"></p>
  <section class="projects" data-ng-init="featuredCtrl.getFeatured()">
    <h2>Featured Projects</h2>
    <portfolio-preview data-ng-repeat="project in featuredCtrl.all"></portfolio-preview>
<ng-container>
