<ng-container>
  <section class="banner home">
    <ul>
      <li>UX/UI</li>
      <li>Visual Design</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>jQuery</li>
      <li>javaScript</li>
      <li>Node</li>
      <li>React</li>
      <li>Angular</li>
    </ul>
  </section>
  <section data-content="about">
    <h2>About</h2>
    <p>I'm a newly minted full stack javaScript Developer with a long history of product design and front end development. I got started in 2004 with a college job at the university of Montana, where students would design and develop websites for faculty, programs and other students. We would use fireworks to design a website and build out the website with HTML, CSS and flash. Since then I've made a career as a graphich designer and web developer sticking primarily to the front end. I've always found my favorite part of my job was the development side, so I recently took a series of courses at Code Fellows in order to improve my development skills and make a career shift into a full time development role.</p>
  </section>
    <section data-content="skills" class="experience">
      <h2>Full Stack +</h2>
      <p>I began my career focused on design and over the years have</p>
       <article>
         <h3><i class="fas fa-paint-brush"></i> Design</h3>
         <section>
           <article>
             <i class="fas fa-sitemap"></i>
           </article>
           <article>
             <h4>Product Design and UX</h4>
             <p>From product design to delivering interactive wireframes. I've been responsible for the the UX and product ownership.</p>
           </article>
         </section>
         <section>
           <article><i class="fas fa-eye"></i></article>
           <article>
             <h4>Visual Design and Branding</h4>
             <p>I've often worn the title of graphic designer and have been responsible for building the brand identities of many small businesses.</p>
           </article>
         </section>
       </article>
       <article>
         <h3><i class="fas fa-code"></i> Code</h3>
         <section>
           <article>
             <i class="fas fa-sitemap"></i>
           </article>
           <article>
             <h4>Product Design and UX</h4>
             <p>From product design to delivering interactive wireframes. I've been responsible for the the UX and product ownership.</p>
           </article>
         </section>
         <section>
           <article><i class="fab fa-html5"></i></article>
           <article>
             <h4>Front End Development</h4>
             <p>Rapid prototyping to developing a fully functional front end that communicates with an external or internal API.</p>

           </article>
         </section>
       </article>
       <article>
         <h3><i class="fas fa-chart-pie"></i> Test and Analyze</h3>
         <ul class="contributions">
           <li>Photoshop</li>
           <li>Illustrator</li>
           <li>Sketch</li>
           <li>Moqups</li>
           <li>Axure</li>
           <li>Splunk</li>
           <li>Visual Website Optimizer</li>
           <li>Invision</li>
           <li>Wordpress</li>
           <li>Magento</li>
         </ul>
       </article>
       <p class="repeat">repeat</p>
     </section>
     <section class="projects" data-ng-init="featuredCtrl.getFeatured()">
       <h2>Featured Projects</h2>
       <portfolio-preview data-ng-repeat="project in featuredCtrl.all"></portfolio-preview>
     </section>
<ng-container>
