<ng-container>
  <section class="banner home">
    <ul>
      <li><a href="/portfolio/#ux">UX</a></li>
      <li><a href="/portfolio/#branding">Branding</a></li>
      <li><a href="/portfolio/#html">HTML</a></li>
      <li><a href="/portfolio/#css">CSS</a></li>
      <li><a href="/portfolio/#jquery">jQuery</a></li>
      <li><a href="/portfolio/#javascript">javaScript</a></li>
      <li><a href="/portfolio/#nodejs">Node</a></li>
      <li><a href="/portfolio/#react">React</a></li>
      <li><a href="/portfolio/#angualr">Angular</a></li>
    </ul>
  </section>
  <section data-content="about">
    <h2>About</h2>
    <p>I'm a newly minted full stack javaScript Developer with a long history of product design and front end development. I got started in 2004 with a college job at the university of Montana, where students would design and develop websites for faculty, programs and other students. We would use fireworks to design a website and build out the website with HTML, CSS and flash. Since then I've made a career as a graphich designer and web developer sticking primarily to the front end. I've always found my favorite part of my job was the development side, so I recently took a series of courses at Code Fellows in order to improve my development skills and make a career shift into a full time development role.</p>
  </section>
    <section data-content="skills" class="experience">
      <h2>Full Stack +</h2>
      <p>I am a Full Stack javaScript Developer with experience that goes beyond the typical full stack. In addition to building an application from back end to front end, I can design the user experience, create branding, market and A/B test an application. My previous years covering all levels of product development give me a unique insight into the process and improve my ability to work and communicate with all team members.</p>
       <article>
         <h3><i class="fas fa-paint-brush"></i> Design</h3>
         <section>
           <article>
             <i class="fas fa-sitemap"></i>
           </article>
           <article>
             <h4>Product Design and UX</h4>
             <p>Working directly with clients or designing from a requirements doc, I've created robust wireframe suites and interactive prototypes to lead development teams. I've also sat on the other side of the bench as a product owner.</p>
           </article>
         </section>
         <section>
           <article><i class="fas fa-eye"></i></article>
           <article>
             <h4>Visual Design and Branding</h4>
             <p>As a web designer since the time of tables, I've been responsible for end to end concept, branding, strategy, design and development helping to create custom experiences to grow business.</p>
           </article>
         </section>
       </article>
       <article>
         <h3><i class="fas fa-code"></i> Code</h3>
         <section>
           <article>
             <i class="fas fa-database"></i>
           </article>
           <article>
             <h4>Server Development</h4>
             <p>At code fellows I augmented my front end knowledge, and have developed several node servers with MongoDBs and user friendly REST APIs for managing product data.</p>
           </article>
         </section>
         <section>
           <article><i class="fab fa-html5"></i></article>
           <article>
             <h4>Front End Development</h4>
             <p>I have a breadth of front end experience including rapid prototyping using bootstrap and foundations, developing a fully functional custom front end and using frameworks like angular and react to build single page applications. I can easily integrate dynamic data from internal or 3rd party APIs.</p>
           </article>
         </section>
       </article>
       <article>
         <h3><i class="fas fa-chart-pie"></i> Test and Analyze</h3>
         <section>
           <article>
             <i class="fas fa-check-circle"></i>
           </article>
           <article>
             <h4>Unit Testing</h4>
             <p>At code fellows I used mocha and chai to create unit tests for my server's schemas and routes. I also dabbled in end to end testing using protractor.</p>
           </article>
         </section>
         <section>
           <article><i class="fas fa-flask"></i></article>
           <article>
             <h4>A/B Tests and Analytics</h4>
             <p>At ATG I used analytics software like google analytics, VWO and optimizely to heatmap our advertisements and run A/B tests. I also created views in splunk leveraging REGEX and SQL queries to analyze our user logs and develop improvements for our products.</p>
           </article>
         </section>
       </article>
       <p class="repeat">repeat</p>
     </section>
     <section class="projects" data-ng-init="featuredCtrl.getFeatured()">
       <h2>Featured Projects</h2>
       <portfolio-preview data-ng-repeat="project in featuredCtrl.all"></portfolio-preview>
     </section>
<ng-container>
