<ng-container>
  <section class="subpage banner"></section>
  <section class="filter">
    <ul>
      <li>UX/UI <span class="number">(12)</span></li>
      <li>Visual Design <span class="number">(12)</span></li>
      <li>HTML <span class="number">(12)</span></li>
      <li>CSS <span class="number">(12)</span></li>
      <li>jQuery <span class="number">(12)</span></li>
      <li>javaScript <span class="number">(12)</span></li>
      <li>Node <span class="number">(12)</span></li>
      <li>React <span class="number">(12)</span></li>
      <li>Angular <span class="number">(12)</span></li>
    </ul>
  </section>
  <section class="projects">
    <article data-ng-repeat="n in [0,1,2,3,4,5]"><portfolio-preview></portfolio-preview></article>
  </section>
</ng-container>
