<ng-container data-ng-init="projectCtrl.getAll()">
  <section class="subpage banner"></section>
  <section class="filter">
    <ul>
      <li data-filter="all">All <span class="number">({{projectCtrl.all.length}})</span></li>
      <li data-ng-repeat="(key, value) in projectCtrl.all.keywordCount" data-filter=".category-{{projectCtrl.helpers.replaceSpace(key, '-') | lowercase}}">{{key}} <span class="number">({{value}})</span> </li>
    </ul>
  </section>
  <section class="projects container" mix-it-up entities='projectCtrl.all'>
    <portfolio-preview data-ng-repeat="project in projectCtrl.all" on-finish-emit="projectsLoaded"></portfolio-preview>
  </section>
</ng-container>
