
.banner {
  background: url('../images/banner.jpg') no-repeat;
  background-size: cover;
  display:flex;
  align-items: flex-end;
  height: 300px;
   ul {
    display: none;
  }
  &.project {
    background-size: cover;
    height: 300px;
    position: relative;
    width: 100%;
    .overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:rgba(0,0,0, 0.6);
      article {
        position: absolute;
        bottom: 0;
        color: #ffffff;
        padding: 10px;
        h2 {
          color:$color-aquamarine;
        }
        h3 {
          display: none;
        }
        ul {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .banner {
    height: 600px;
    position: relative;
    &.subpage {
      height: 50px;
    }
    &.project {
      height: 400px;
      .overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:rgba(0,0,0, 0.6);
        article {
          position: absolute;
          bottom: 0;
          color: #ffffff;
          max-width: 75%;
          padding: 20px;
          h2 {
            color:$color-aquamarine;
          }
          ul {
            display: block;
            li {
              display: inline-block;
              padding: 10px;
              margin: 5px 10px 5px 0;
              background: #000000;
            }
          }
        }
      }
    }
    &.home ul {
      display: block;
      li {
        display: block;
        border: 1px solid $color-banner-highlight;
        width: 145px;
        height: 145px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-banner-highlight;
        margin: 5px;
        padding: 0px;
        float: left;
        font-size: 1.3em;
        &:nth-child(3), &:nth-child(6){
          clear:both;
        }
      }
    }
  }
}
@media screen and (min-width: 1000px) {
    .banner {
      &.project {
        .overlay {
          article {
            max-width: 50%;
          }
        }
      }
    }
}
