.design {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  background: $color-dark-gray;
  color: $color-white;
  h3 {
    color: $color-muted-aquamarine;
    padding-bottom: 20px;
  }
  h4 {
    clear: both;
  }
  .specs {
    clear: both;
    margin-top: 20px;
    h4 {
      color: $color-light-gray;
    }
  }
  .gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
      a {
      display: block;
      max-width: calc(50% - 10px);
      // height: 0;
      // padding-bottom: 40%;
      overflow: hidden;
      margin: 5px;
    }
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 680px) {
  .design {
    .gallery {
      width: 60%;
    }
    .specs {
      clear: none;
      padding:5px 10px;
      width: calc(40% - 20px);
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  .design {
    .gallery {
      a {
        max-width: calc(33% - 10px);
        padding-bottom: 28%;
      }
    }
  }
}
