.project {
  display: flex;
  flex-wrap: wrap;
  background: $color-dark-gray;
  color: $color-white;
  padding: 10px;
  section {
    box-sizing: border-box;
  }
  h2 {
    color: $color-light-gray;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: $color-light-gray;
  }
  img {
    width: 100%;
  }
  a {
    color: $color-aquamarine;
    text-decoration: none;
    opacity: 0.8;
    img {
      width: 20px;
      height: 20px;
      display: inline-block;
      padding-right: 10px;
      transform: rotate(-90deg);
    }
    &:hover {
      // color: $color-aquamarine;
      opacity: 1;
    }
  }
  ul li {
    display: inline-block;
    padding: 10px;
    margin: 5px 10px 5px 0;
    background: #000000;
  }
}

@media screen and (min-width: 680px) {
  .project {
    clear: both;
    background: $color-dark-gray;
    color: $color-white;
    padding: 20px;
  }
  .contributions {
    width: calc(25% - 20px);
    margin-left: 20px;
  }
  .overview {
    width: 75%;
  }
}

@media screen and (min-width: 1000px) {

}
