/* Colors */
$color-aquamarine: #91eed9;
$color-pink: #fc456c;
$color-teal: #3dd3b2;
$color-turquoise: #16c2d6;
$color-dark-gray: #3a3a3a;
$color-white: #ffffff;
$color-black: #000000;

/* Semantic Mapping */
$color-h2: $color-aquamarine;
$color-nav-link-web: $color-white;
$color-nav-link-mobile: $color-white;
