/* Colors */
$color-aquamarine: #91eed9;
$color-muted-aquamarine: #6fa89b;
$color-pink: #fc456c;
$color-teal: #3dd3b2;
$color-turquoise: #16c2d6;
$color-dark-gray: #3a3a3a;
$color-white: #ffffff;
$color-black: #000000;
$color-black-opacity50: rgba(0, 0, 0, 0.5);
$color-black-opacity75: rgba(0, 0, 0, 0.75);
$color-light-gray: #a8a8a8;

/* Semantic Mapping */
/* headers */
$color-h2: $color-teal;

/* navigation*/
$color-nav-link-web: $color-white;
$color-nav-link-mobile: $color-white;
$color-logo: $color-white;

/* portfolio preview*/
$color-preview-text: $color-white;
$color-preview-title: $color-light-gray;
$color-preview-subtitle: $color-aquamarine;
$color-preview-overlay: $color-black-opacity75;

/* banner*/
$color-banner-highlight: $color-white;

/* filter */
$color-filter-bg: $color-dark-gray;
$color-filter-item: $color-aquamarine;
$color-filter-count: $color-white;

/* border color */
$color-border: $color-light-gray;
