*, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

p {
  font-size: 1em;
  line-height: 1.8em;
  padding: 0.8em 0 1em 0;
}

h2 {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}
